.btn {
    text-align: right;
}

button {
    text-transform: uppercase;
    border: none;
    border-radius: 4px;
    background: #4f6378;
    padding: 8px;
    margin-top: 20px;
    display: inline-block;
    color: #d9e2e4;
    font-weight: 600;
}
