@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Nunito+Sans:ital,opsz,wght@0,6..12,400;0,6..12,700;1,6..12,400&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: rgb(236, 234, 234);
    font-family: 'Kalam', cursive;
    color: rgb(35, 34, 34);
}

.App {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem 0.75rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: rgb(35, 34, 34);
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-bottom: 2rem;
}
